body {
  background: url("Pt5_ValleyModified.jpg") no-repeat center center fixed;
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
	background: url(../images/mobile.jpg) no-repeat center center fixed;
}
h1 {
  font-size: 150px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
p {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
}
pre {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
  white-space:pre-line;
}
iframe {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}